<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">
      <i class="fa fa-home fa-fw"></i> Home</a>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
            {% if node.title == 'Contact' %}
            <i class="fa fa-envelope-o fa-fw"></i>
            {% endif %}
             {{ node.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <div class="sidebar-nav-item">Social</div>
    <a class="sidebar-nav-item" href="https://www.twitter.com/asteingr"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
    <a class="sidebar-nav-item" href="https://github.com/andresteingress"><i class="fa fa-github-square fa-fw"></i> GitHub</a>
    <a class="sidebar-nav-item" href="http://stackoverflow.com/users/44963/andre-steingress"><i class="fa fa-stack-overflow fa-fw"></i> Stackoverflow</a>
    <a class="sidebar-nav-item" href="https://www.xing.com/profile/Andre_Steingress"><i class="fa fa-xing fa-fw"></i> Xing</a>
    <a class="sidebar-nav-item" href="http://www.linkedin.com/in/andresteingress"><i class="fa fa-linkedin fa-fw"></i> Linkedin</a>
    <a class="sidebar-nav-item" href="http://www.dtr.fm"><i class="fa fa-microphone fa-fw"></i> DTR.fm</a>
  </nav>
</div>
